
/********** Header **************************************************************************************************/
#Header + main{margin-top:120px;}
#Header .input-group{width:210px; margin-right:20px;}
#Header .input-group .form-control{background:none; border:none; border-bottom:solid 1px #868686; border-radius:0px; box-shadow:none; color:#1a1a1a; font-size:12px; height:24px; font-family: 'Roboto', sans-serif;} 
#Header .input-group .btn{background:none; padding:0 5px; border-radius:0px; height:24px; border:none; border-bottom:solid 1px #868686; color:#c32a30; font-size:12px;}
#Header .input-group .btn:hover{background:none;color:#1a1a1a;}
#Header .form-control::placeholder{color:#1a1a1a;}
#Header .head-links{color:#1a1a1a; font-size:12px; letter-spacing:-.020em;} #Header .head-links .fa-lg{color:#c32a30; font-size:12px;}
/********** Main Banner **************************************************************************************************/
.MainBanner .carousel-caption {z-index:99;display:flex;justify-content:center;align-items:center;margin:auto;left:0;bottom:150px;right:0;}
/************************************************* Categories ********************************************************************/
#Categories .Slider {position: relative; padding:0px 100px;}  #Categories .text-danger{font-size:12px; letter-spacing:.1em;} #Categories a:hover.text-danger{color:#393939 !important;}
#Categories .Slider .cycle-prev, #Categories .Slider .cycle-next {position:absolute; top:46%; right:0px; z-index:99; cursor:pointer;}
#Categories .Slider .cycle-prev {left:0px; right:auto;} 
#Categories .Slider .slideshow {overflow:hidden;}
#Categories .Slider .slideshow .isItem {white-space:normal; vertical-align:top;}
#Categories .Border::before {border: 1px solid #b1afac;content: '';position: absolute;left: 15px;top: 15px;right: 15px;bottom: 15px;border-top-left-radius: 30px; border-bottom-right-radius: 30px;}
/************************************************* Shipping ********************************************************************/
#Shipping .fa-lg{font-size:33px;}  #Shipping .Box{border-left:1px solid #fff; border-right:1px solid #fff;}
/************************************************* New ********************************************************************/
#New .card{box-shadow: 0px 0px 15px rgba(0,0,0,.1); border-radius:0px; border:0px; margin:10px 0px; height:650px;}
#New .Slider {position: relative; padding:0px 100px;}  #New a:hover.text-danger{color:#393939 !important;}
#New .Slider .cycle-prev, #New .Slider .cycle-next {position:absolute; top:46%; right:0px; z-index:99; cursor:pointer;}
#New .Slider .cycle-prev {left:0px; right:auto;} 
#New .Slider .slideshow {overflow:hidden;}
#New .Slider .slideshow .isItem {white-space:normal; vertical-align:top;}
#New .card-title{font-size:17px; letter-spacing:.050em;} #New .card-text{font-size:13px; letter-spacing:-.025em;} #New .card-body {padding: 50px 30px 30px 30px;} 
/************************************************* About ********************************************************************/
#About .Border::before {border: 3px solid #e09a9e;content: '';position: absolute;left: 22px;top: 22px;right: 22px;bottom: 22px;border-top-left-radius: 30px; border-bottom-right-radius: 30px;} #About .bg-secondary{ position: relative;margin-left: 50px;}
#About .mrgn {padding-left: 130px;padding-right: 110px;padding-top: 170px;padding-bottom: 170px;} #About .img-position {position: absolute;margin-top: 60px; padding-right: 15px;}

/************************************************* Sellers ********************************************************************/
#Sellers .card{box-shadow: 0px 0px 15px rgba(0,0,0,.1); border-radius:0px; border:0px; margin:10px 0px; height:650px;}
#Sellers .Slider {position: relative; padding:0px 100px;}  #Sellers a:hover.text-danger{color:#393939 !important;}
#Sellers .Slider .cycle-prev, #Sellers .Slider .cycle-next {position:absolute; top:46%; right:0px; z-index:99; cursor:pointer;}
#Sellers .Slider .cycle-prev {left:0px; right:auto;} 
#Sellers .Slider .slideshow {overflow:hidden;}
#Sellers .Slider .slideshow .isItem {white-space:normal; vertical-align:top;}
#Sellers .card-title{font-size:17px; letter-spacing:.050em;} #Sellers .card-text{font-size:13px; letter-spacing:-.025em;} #Sellers .card-body {padding: 50px 30px 30px 30px;}
/************************************************* Reviews ********************************************************************/
#Reviews .list-inline-item:not(:last-child) {margin-right:4px;} #Reviews .list-inline-item{font-size:18px; color:#c42c32;}
#Reviews .Slider {position: relative; padding:0px 100px;}  #Reviews a:hover.text-danger{color:#393939 !important;}
#Reviews .Slider .cycle-prev, #Reviews .Slider .cycle-next {position:absolute; top:46%; right:0px; z-index:99; cursor:pointer;}
#Reviews .Slider .cycle-prev {left:0px; right:auto;} 
#Reviews .Slider .slideshow {overflow:hidden;}
#Reviews .Slider .slideshow .isItem {white-space:normal; vertical-align:top;} #Reviews .fst-italic{height: 100px;}
#Reviews .custom-height{height:111px;}
/************************************************* Follow ********************************************************************/
#Follow a:hover.text-danger{color:#000 !important;}
/********** Footer **************************************************************************************************/
#Footer a{color:#fff !important;  font-size:14px; line-height:1.8; font-weight:400;} #Footer a:hover{color:#c42c32 !important;}
#Footer .list-inline-item:not(:last-child) {margin-right:25px;} #Footer .list-inline-item :hover{color:#c42c32;} 
#Footer .CopyText{color:#fff; font-size:12px; margin-top:50px;}  #Footer .list-inline-item a{font-size:18px;}
#Footer .fa-sm{font-size:15px;}


.Listing {padding:0px; margin:0px; list-style-type:none;}
.Listing li{color:#fff; background:#7db916 url(../images/icon1.png) no-repeat 1.1em 1.45em; padding:14px 0 12px 45px; margin:0 0 1px; border-radius:6px;}
.Listing li a{color:#fff;} .Listing li a:hover{color:#000;}


/*************************************************************************************************************/
.container-new{max-width:1920px !important; padding-right:15px; padding-left:15px;margin-right: auto;margin-left: auto;}
.container{max-width:1550px !important;}
.container-fluid{max-width:1850px !important;}



/* ============ desktop view ============ */
@media all and (min-width: 1025px) {
	.navbar .nav-item .dropdown-menu{ display:none;}
	.navbar .nav-item:hover .nav-link{ color:#fff;}
	.navbar .nav-item:hover .dropdown-menu{ display:block;}
	.navbar .nav-item .dropdown-menu{ margin-top:0;}
}	
/* ============ desktop view .end// ============ */

@media (min-width:992px) {
#Header {top:0px; -webkit-transition:0.5s; -moz-transition:0.5s; -ms-transition:0.5s; transition:0.5s;}
.shrink {background:rgba(255,255,255,.95); box-shadow:0px 5px 12px rgba(0,0,0,.5); z-index:999;}
.Logo img {max-height:88px;-webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;transition: 0.5s;}
.shrink .Logo img {max-height:80px;-webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;transition: 0.5s;}
.Logo {padding-top:16px; padding-bottom:16px;}  .shrink .Logo {padding-top:10px !important; padding-bottom:10px !important;}



}
.gx-xxl-4 {margin-left:-7px!important;margin-right:-7px!important;}
.gx-xxl-4 div[class^="col"]{padding-left:7px!important;padding-right:7px!important;}
.gx-xxl-5 {margin-left:-15px!important;margin-right:-15px!important;}
.gx-xxl-5 div[class^="col"]{padding-left:15px!important;padding-right:15px!important;}
.gx-xxl-7 {margin-left:-21px!important;margin-right:-21px!important;}
.gx-xxl-7 div[class^="col"]{padding-left:21px!important;padding-right:21px!important;}


@media (min-width: 1920px) { #About .mrgn {padding-left: 0px !important;padding-right: 220px !important;padding-top: 170px !important;padding-bottom: 170px !important;} #About .bg-secondary {margin-left: 80px !important;} #New .card {height: 660px !important;} #Sellers .card {height: 660px !important;}}
@media (min-width: 1200px) {
.Homebnr .carousel-item img {
    height: 840px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
	}}



@media (min-width: 1600px) { #About .mrgn {padding-left: 130px;padding-right: 110px;padding-top: 170px;padding-bottom: 170px;}
}

@media (min-width: 1459.98px) and (max-width: 1559.98px) {

}

@media (min-width: 1199.98px) and (max-width: 1359.98px) {#Footer a{font-size: 12px;} #About .bg-secondary{ position: relative;margin-left: 50px;}
#About .mrgn{padding-left:100px; padding-right:50px;   padding-top: 110px;padding-bottom: 110px;} #About .img-position {position: absolute;margin-top: 60px; padding-right: 15px;}}
@media (min-width: 991.98px) and (max-width: 1199.98px) {.MainBanner .carousel-caption .fs-200 {font-size: 100px !important;} .MainBanner .carousel-caption{top:0; bottom:0;} #New .card-body {padding: 30px;} #New .card-title {font-size: 15px;} #New .card {height: 600px;} h2, .h2 {
font-size: 25px;} #Sellers .card-body {padding: 30px;} #Sellers .card-title {font-size: 15px;} #Sellers .card {height: 600px;} h2, .h2 {
font-size: 25px;} #Sellers .Slider {padding: 0px 60px;} #Categories .Slider { padding:0px 60px;} #New .Slider {padding: 0px 60px;} #About .mrgn {padding-left: 30px;padding-right: 50px;padding-top: 40px;padding-bottom: 40px;} #Reviews .Slider {padding: 0px 60px;} #Follow .fs-21 {font-size: 18px !important;} #About .fs-50 {font-size: 40px !important;} #About .bg-secondary {margin-bottom: 50px;} h1, .h1 {font-size: 35px;} #Reviews .custom-height {height: 80px;}
}

/*For example the @include media-breakpoint-only(md) { ... } will result in :*/
@media (min-width: 768px) and (max-width: 991.98px) {#Header{position:static;}#Header + main{margin-top:0px;} .Logo{padding:10px 0px;}
	.MainBanner .carousel-caption .fs-200 {font-size: 60px !important;} .MainBanner .carousel-caption{top:0; bottom:0;} #New .card-body {padding: 30px;} #New .card-title {font-size: 15px;} #New .card {height: 580px;} h2, .h2 {font-size: 25px;} #Sellers .card-body {padding: 30px;} #Sellers .card-title {font-size: 15px;} #Sellers .card {height: 580px;} h2, .h2 {font-size: 25px;} #Categories .Slider {padding:0px 60px;} #Sellers .Slider {padding: 0px 60px;} #New .Slider {padding: 0px 60px;} #About .mrgn {padding-left: 30px;padding-right: 50px;padding-top: 40px;padding-bottom: 40px;} #Reviews .Slider {padding: 0px 60px;} #Follow .fs-21 {font-size: 18px !important;} #About .fs-50 {font-size: 40px !important;} #About .bg-secondary {margin-left: 0px;} h1, .h1 {font-size: 35px;}  h3, .h3 {font-size: 16px;} #Shipping .fs-19 {font-size: 16px !important;}
}



/* Medium devices (tablets, 768px and up) */


/* Small devices (landscape phones, 576px and up) */
@media (max-width:767.98px) {#Header{position:static;}#Header + main{margin-top:0px;} .Logo{padding:10px 0px;}
.MainBanner .carousel-caption .fs-200 {font-size: 50px !important;} .MainBanner .carousel-caption{top:0; bottom:0;} .MainBanner .carousel-caption .fs-19 {font-size: 16px !important;} #New .card-body {padding: 30px;} #New .card-title {font-size: 15px;} #New .card {height: 580px;} h2, .h2 {font-size: 25px;} #Sellers .card-body {padding: 30px;} #Sellers .card-title {font-size: 15px;} #Sellers .card {height: 580px;} h2, .h2 {font-size: 25px;} #Categories .Slider {padding:0px 60px;} #Sellers .Slider {padding: 0px 60px;} #New .Slider {padding: 0px 60px;} #About .mrgn {padding: 0 30px;} #Reviews .Slider {padding: 0px 60px;} #Follow .fs-21 {font-size: 18px !important;} #About .fs-50 {font-size: 40px !important;} #About .bg-secondary {margin-left: 0px; position:static;} h1, .h1 {font-size: 35px;}  h3, .h3 {font-size: 16px;} #Shipping .fs-19 {font-size: 16px !important;} #About .img-position {position: static;margin-top: 0px;padding-right: 0px;} 
}
@media (max-width:575.98px) { #Header{padding-bottom:10px;}.Homebnr .carousel-item img {
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
	}
	#Header .input-group {width: 100%;margin-right: 0px;} #Shipping .Box{border-left:0px; border-right:0px;} #Reviews .fst-italic {height: unset;} #Reviews .custom-height {height: unset;} #Categories .Slider {padding:0px 30px;} #Sellers .Slider {padding: 0px 30px;} #New .Slider {padding: 0px 30px;} #Reviews .Slider {padding:0px 30px;}
}
/* X-Small devices (portrait phones, less than 576px) */
